.stay-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 64px 165px;
  .social-links-section {
    padding-top: 32px;
    max-width: 152px;
    display: flex;
    justify-content: space-between;
    .social-link {
      width: 24px;
      height: 24px;
      text-align: center;
      position: relative;
      img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        object-fit: contain;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .stay-block {
    padding: 20px;
  }
}