.how-first-block {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center; 
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  .how-inner-block {
    margin: 0px 10vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    span {
      max-width: 539px;
      text-align: left;
    }
    .simple-top-title {
      max-width: 600px;
      font-style: normal;
      line-height: 65px;
      text-align: left;
      letter-spacing: -0.7px;
      margin-bottom: 22px;
    }
    .simple-top-button {
      font-family: univers-lt-std-55-roman;
      font-weight: normal;
      line-height: 30px;
      padding: 20px;
      border-radius: 29px;
    }
  }
}

@media screen and (max-width: 420px) {
  .how-first-block {
    height: unset;
    padding-top: 80px;
    position: relative;
  }
}


@media screen and (max-width: 320px) {
  .how-first-block {
    padding-top: 200px;
  }
  .simple-top-button {
    margin-bottom: 100px;
  }
  .down-arrow {
    bottom: 40px;
  }
}