.legal-body {
    display: flex;
    flex-direction: column;
    padding: 260px 96px 132px;
    max-width: 1170px;
    margin: auto;
    .legal-title {
        line-height: 56px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .legal-body {
        padding-left: 20px;
        padding-right: 20px;
    }
}