.about-first-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
  height: 100vh;
  justify-content: space-between;
  .about-first-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 0 10px;
    .about-first-title {
      letter-spacing: -0.19px;
      line-height: 64px;
      text-align: center;
      margin-bottom: 30px;
    }
    .about-first-desc {
      font-family: Univers-LT-Std-45-Light;
      letter-spacing: 0;
      line-height: 26px;
      text-align: center;
      max-width: 530px;
    }
  }
  
  .about-first-image {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 320px) {
  .about-first-block {
    height: unset;
    padding-top: 149px;
    position: relative;
  }
}