.order-step1-block {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px 20px;
	.step1-background {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		max-width: 560px;
		background: #F9F9F9;
		border: 1px solid #EDEDED;
		box-sizing: border-box;
		border-radius: 16px;
		width: 100%;
		padding: 158px 0px;
		.step1-inside {
			max-width: 288px;
			display: flex;
			flex-direction: column;
			align-items: center;
			.step1-title{
				font-family: Pangram;
				line-height: 40px;
				text-align: center;
				margin-bottom: 56px;
			}
			.btn-group {
				display: flex;
				flex-direction: column;
				margin-bottom: 32px;
				width: 100%;
			}
			.step1-text {
				width: 100%;
				text-align: center;
			}
		}
	}
}
.step-mark{
	margin: 72px 0px 66px 0px;
}