.order-step3-block {
    display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px 20px;
	.step3-background {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		max-width: 560px;
		background: #F9F9F9;
		border: 1px solid #EDEDED;
		box-sizing: border-box;
		border-radius: 16px;
		width: 100%;
		padding: 72px 10px;
		.step3-inside {
            max-width: 384px;
            padding: 0px 15px;
			display: flex;
			flex-direction: column;
            align-items: center;
            .step3-title{
                width: 100%;
				font-family: Pangram;
				line-height: 40px;
				text-align: left;
				margin-bottom: 32px;
			}
            .form-group {
                display: flex;
                flex-direction: column;

                .form-text {
                    font-family: Inter;
                    line-height: 16px;
                    color: #858A8F;
                    .form-text-link {
                        font-weight: bold;
                    }
                }
                .input-box {
                    display: flex;
                    flex-direction: column;
                    .form-label {
                        line-height: 20px;
                        font-family: Inter;
                        margin-bottom: 8px;
                    }
                }
                .agreement {
                    display: flex;
                    border-radius: 8px;
                    padding: 24px;
                    background-color: #FFFFFF;
                    justify-content: space-between;
                    input {
                        min-width: 20px;
                        height: 20px;
                        border: 1.5px solid #C5C5C5;
                        box-sizing: border-box;
                        border-radius: 8px;
                        margin-right: 16px;
                    }
                    .agreement-text {
                        max-width: 296px;
                        font-family: Inter;
                        line-height: 20px;
                        color: rgba(26, 32, 44, 0.75);
                    }
                }
            }
            .step3-next-btn {
                width: 100%;
                font-family: Pangram;
                line-height: 24px;
                letter-spacing: 0.5px;
                margin-top: 32px;
                box-sizing: border-box;
            }
        }
    }
    .step-mark{
        margin: 72px 0px 66px 0px;
    }
}
